{% extends 'surveys/wrapper.html' %}

{% block content %}

    <div class="row">
        <ul>
            {% for survey in surveys%}
                <li>
                    {{survey}}: 
                    <form  method="POST" action="{% url 'survey_details' pk=survey.instance_id%}">
                            {% csrf_token %}
                            <input type="submit" value="Edit"/>
                            <input type="hidden" name="pk" value="{{survey.instance_id}}">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}