{% extends 'surveys/wrapper.html' %}

{% block content %}

    <div class="row">
        <ul>
            {% for survey, form in surveys, forms %}
                <li>
                    {{survey}}: {{form}}
<!--
                    <form  method="POST" action="{% url 'survey_details' %}">
                            {% csrf_token %}
                            <input type="submit" value="Edit"/>
                            <input type="hidden" name="pk" value="{{survey.instance_id}}">
                    </form>
-->
                </li>
            {% endfor %}
        </ul>
    </div>

    
{% endblock %}