{% extends 'surveys/wrapper.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
            <ul>
                {% for profile in profiles%}
                    <li>{{profile}}</li>
                {% endfor %}
            </ul>
    </div>
    
    <div class="row">
        <h1>New Profile</h1>
    </div>
    <div class="row">
        <form method="POST" action="{% url 'profiles' %}">
            {% csrf_token %}
            {% for field in form%}
                <div class="form-group">{{field.label_tag}} {{field}}</div>
            {% endfor %}
            <input type="hidden" name="index" value="0">
            <input type="hidden" name="pk" value="{{pk}}">
            <input type="hidden" name="profile_pk" value="{{profile_pk}}">
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </div>
</div>
{% endblock %}