{% extends 'surveys/wrapper.html' %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <h1>Edit Station</h1>
        <h3>{{station}}</h3>
    </div>
    <div class="row">
        <form method="POST" action="{% url 'stations' %}">
            {% csrf_token %}
            {% for field, instance in form %}
                <div class="form-group">{{field.label_tag}} {{field}} {{instance}}</div>
            {% endfor %}
            <input type="hidden" name="survey_pk" value="{{station.profile.survey_instance.instance_id}}">
            <input type="hidden" name="station_pk" value="{{station.station_id}}"
            <input type="submit" class="btn btn-primary" value="submit">
        </form>
    </div>
</div>
{% endblock %}