{% extends 'surveys/wrapper.html' %}

{% block content %}
<div class="row">
        <h4>Are you sure you want to delete</h4>&nbsp<h4 class="text-info">{{station}}</h4>
</div>

<div class="row">
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="No" class="btn btn-success"/>
        <input type="hidden" name="station_pk" value="{{station_pk}}"/>
        <input type="hidden" name="next" value="{{next_url}}">
        <input type="hidden" name="pk" value="{{pk}}">
        <input type="hidden" name="confirmed" value="False">
    </form>
    &nbsp&nbsp&nbsp&nbsp
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes" class="btn btn-danger"/>
        <input type="hidden" name="station_pk" value="{{station_pk}}"/>
        <input type="hidden" name="next" value="{{next_url}}">
        <input type="hidden" name="pk" value="{{pk}}">
        <input type="hidden" name="confirmed" value="True">
    </form>
</div>

{% endblock %}