{% extends 'surveys/wrapper.html' %}

{% block content %}
    <div class="container-fluid">
        
        <div class="row">
            
            <h2>{{survey}}</h2>
            
        </div>
        
        <div class="row">
            
            <p>Started: {{survey.start}}</p>
            
        </div>
        <form  method="POST" action="{% url 'profiles' %}">
            {% csrf_token %}
            <input type="submit" value="Add Profile" class="btn btn-primary"/>
            <input type="hidden" name="pk" value="{{survey.instance_id}}">
        </form>
        {% for profile in profiles %}
            <div class="row">
                
                <div class="col-md-6">
                    
                    <div class="row">
                        <h4>{{profile}}</h4>
                    </div>
                    
                    <div class="row">
                        <h4>
                            <form>
                                <input type="submit" value="Edit profile" class="btn btn-warning">
                            </form>
                        </h4>
                    </div>
                    
                </div>
                
                <div class="col-md-6">
                    <ul>
                        <li>
                            <form  method="POST" action="{% url 'stations' %}">
                                {% csrf_token %}
                                <input type="submit" value="Add Station" class="btn btn-warning"/>
                                <input type="hidden" name="pk" value="{{survey.instance_id}}">
                            </form>
                        </li>
                        {% for station in stations.profile.profile_id %}
                            <li>{{station}}</li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        {% endfor %}


    </div>
{% endblock %}