{% extends 'surveys/wrapper.html' %}

{% block content %}
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h2>{{survey}}</h2>             
                </div>
                <div class="row">
                    <p>Started: <div class="date">{{survey.start}}</div></p>
                </div>
            </div>
            
            <div class="col-md-4">
                <form  method="POST" action="{% url 'profiles' %}">
                    {% csrf_token %}
                    <input type="submit" value="Add Profile" class="btn btn-primary"/>
                    <input type="hidden" name="pk" value="{{survey.instance_id}}">
                </form>
            </div>
        </div>
        
        {% for pair in profiles_stations_pair %}
            <div class="row border-top">
                
                <div class="col-md-3">
                    
                    <div class="row">
                        <h4>{{pair.0}}</h4>
                    </div>
                    
                    <div class="row">
                        <form method="POST" action="{% url 'profiles_edit' %}">
                            {% csrf_token %}
                            <input type="hidden" name="survey_pk" value="{{pair.0.survey_instance}}">
                            <input type="hidden" name="profile_pk" value="{{pair.0.profile_id}}">
                            <input type="submit" value="Edit Profile" class="btn btn-warning">
                        </form>
                    </div>
                    
                    <div class="row">
                        <form method="POST" action="{% url 'profile_delete' %}">
                            {% csrf_token %}
                            <input type="submit" value="Delete Profile" class="btn btn-danger">
                            <input type="hidden" name="profile_pk" value="{{pair.0.profile_id}}">
                            <input type="hidden" name="next" value="surveys/survey_details.html">
                            <input type="hidden" name="pk" value="{{survey.instance_id}}">
                            <input type="hidden" name="confirmed" value="">
                        </form>
                    </div>
                    
                </div>
                
                <div class="col-md-9">
                    <div class="row">
                        <table>
                            <tr>
                                <th class="border-left border-top">#</th>
                                <th class="border-left border-top">Distance</th>
                                <th class="border-left border-top">Elevation</th>
                                <th class="border-left border-top">Comment</th>
                                <th class="border-left border-top">#</th>
                                <th class="border-left border-top">#</th>
                            </tr>

                            {% for station in pair.1 %}
                            <tr>
                                <td class="border-left border-top">{{station.number}}</td>
                                <td class="border-left border-top">{{station.distance}}</td>
                                <td class="border-left border-top">{{station.z}}</td>
                                <td class="border-left border-top">{{station.comment}}</td>
                                <td class="border-left border-top">
                                    <form method="POST" action="{% url 'stations_edit' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="station_pk" value="{{station.station_id}}">
                                        <input type="hidden" name="survey_pk" value="{{station.profile.survey_instance}}">
                                        <input type="submit" value="//edit//" class="btn btn-warning">
                                    </form>
                                </td>
                                <td class="border-left border-top">
                                    <form method="POST" action="{% url 'station_delete' %}">
                                        {% csrf_token %}
                                        <input type="submit" value="//delete//" class="btn btn-danger">
                                        <input type="hidden" name="station_pk" value="{{station.station_id}}">
                                        <input type="hidden" name="next" value="surveys/survey_details.html">
                                        <input type="hidden" name="pk" value="{{survey.instance_id}}">
                                        <input type="hidden" name="confirmed" value="">
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="row">
                        <form  method="POST" action="{% url 'stations' %}">
                            {% csrf_token %}
                            <input type="submit" value="Add Station" class="btn btn-info"/>
                            <input type="hidden" name="profile_pk" value="{{pair.0.profile_id}}">
                            <input type="hidden" name="pk" value="{{survey.instance_id}}">
                        </form>
                    </div>
                </div>
                
            </div>
        {% endfor %}


    </div>
{% endblock %}