{% extends 'surveys/wrapper.html' %}

{% block content %}
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <h2>{{survey}}</h2>             
                </div>
                <div class="row">
                    
                    <p>Started: {{survey.start}}</p>
                            
                </div>
            </div>
            
            <div class="col-md-4">
                <form  method="POST" action="{% url 'profiles' %}">
                    {% csrf_token %}
                    <input type="submit" value="Add Profile" class="btn btn-primary"/>
                    <input type="hidden" name="pk" value="{{survey.instance_id}}">
                </form>
            </div>
        </div>
        
        
        
        {% for profile in profiles %}
            <div class="row">
                
                <div class="col-md-3">
                    
                    <div class="row">
                        <h4>{{profile}}</h4>
                    </div>
                    
                    <div class="row">
                        <form method="POST" action="{% url 'profiles_edit' %}">
                            {% csrf_token %}
                            <input type="submit" value="Edit Profile" class="btn btn-warning">
                        </form>
                    </div>
                    
                    <div class="row">
                        <form method="POST" action="{% url 'profiles_delete' %}">
                            {% csrf_token %}
                            <input type="submit" value="Delete Profile" class="btn btn-danger">
                        </form>
                    </div>
                    
                </div>
                
                <div class="col-md-9">
                    <form  method="POST" action="{% url 'stations' %}">
                        {% csrf_token %}
                        <input type="submit" value="Add Station" class="btn btn-seccondary"/>
                        <input type="hidden" name="number_of_stations" value="0">
                        <input type="hidden" name="profile_pk" value="{{profile.profile_id}}">
                        <input type="hidden" name="pk" value="{{survey.instance_id}}">
                    </form>
                    <ul>    
                        {% for station in stations.profile.profile_id %}
                            <li>{{station}}</li>
                        {% endfor %}
                    </ul>
                </div>
                
            </div>
        {% endfor %}


    </div>
{% endblock %}