<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Werth Center: Beach Profile Tool</title>

    <link type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Southern Connecticut State University</h1>
            <hr/>
            <h3>Werth Center for Coastal and Marine Studies</h3>
        </div>
        <div class="col-md-12">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="http://www2.southernct.edu/research/research-centers/ccms/photos/WCCMS-logo-transp-bg-300.png" alt="Werth Center Logo" height="100" width="100"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">

                    <li class="nav-item active btn btn-secondary">
                      <a class="nav-link" href="/">History <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item active btn btn-secondary">
                            <a class="nav-link" href="/surveys/add">New Entry <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown btn btn-secondary">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Reporting Functions
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Graph Profiles</a>
                        <a class="dropdown-item" href="#">Render 3D Beach</a>
                        <a class="dropdown-item" href="#">Animate Rolling Beach</a>
                      </div>
                    </li>

                  </ul>
                </div>
              </nav>

            {% block content %}
            {% endblock %}

        </div>
        
    </div>
    
</body>
</html>